.text-type {
  display: inline-block;
  white-space: pre-wrap;
  color: white;
  font-family: 'Geist', 'Inter', sans-serif;
}

.main-heading {
  font-size: 4rem; /* Makes the text significantly bigger */
  
  font-weight: 700;
  text-align: left;
  letter-spacing: -2px;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(202, 177, 177, 0.212);
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  font-size: 1.1em;
  font-weight: 200;
  
}

.text-type__cursor--hidden {
  display: none;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }
}